@model ShortenedURL;

@{
    ViewData["Title"] = "Shortened Url";
}

<div style="width: 100%; padding: 30px;">
    <div>
        <div>Short Url: @Model.ShortURL</div>
        <div>Long Url: @Model.LongURL</div>
    </div>
</div>